<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:http-conf="http://cxf.apache.org/transports/http/configuration"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://cxf.apache.org/jaxrs 
        http://cxf.apache.org/schemas/jaxrs.xsd
        http://cxf.apache.org/transports/http/configuration 
        http://cxf.apache.org/schemas/configuration/http-conf.xsd">

	<context:spring-configured />
	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

	<bean id="SpringContextUtils" class="com.coral.foundation.spring.bean.SpringContextUtils"
		scope="singleton" />

	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>message</value>
			</list>
		</property>
	</bean>

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="entityManagerFactory" />
		<!-- <property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" 
			/> -->
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
			<list>
				<value>com.coral.foundation.security.model</value>
				<value>com.mocha.cooperate.model</value>
				<value>com.mocha.ib.model</value>
				<value>com.mocha.co.model</value>
				<value>com.mocha.marketing.model</value>
			</list>
		</property>
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
			</bean>
		</property>
		<property name="jpaProperties">
			<props>
				<prop key="eclipselink.deploy-on-startup">true</prop>
				<!-- <prop key="eclipselink.ddl-generation">create-or-extend-tables</prop> 
					<prop key="eclipselink.ddl-generation">drop-and-create-tables</prop> -->
				<prop key="eclipselink.ddl-generation.output-mode">both</prop>
				<prop key="eclipselink.create-ddl-jdbc-file-name">createDDL.jdbc</prop>
				<prop key="eclipselink.logging.level">SEVERE</prop>
				<prop key="eclipselink.weaving">false</prop>
			</props>
		</property>
	</bean>

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<!-- Set for local dev env -->
		<property name="url"
			value="jdbc:mysql://127.0.0.1:3306/cooperate?characterEncoding=utf8" />
		<!-- Set for Production -->
		<!-- <property name="url" value="jdbc:mysql://106.186.123.7:3306/cooperate"/> -->
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	
	

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>

	<tx:annotation-driven mode="aspectj"
		transaction-manager="transactionManager" />
	
	<import resource="classpath*:generatedDaoContext.xml" />
	<import resource="classpath*:ib-beans.xml" />
	<import resource="classpath*:co-beans.xml" />
	<import resource="classpath*:hr-beans.xml" />

	<bean id="RestFulService" class="com.mocha.cooperate.restfulservice.RestFulServiceImpl"></bean>
	<tx:annotation-driven />
</beans>

