#################
## Eclipse
#################

*.pydevproject
.project
.metadata
bin/
target/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.DS_Store

mocha-foundation/target/
mocha-vaadin-framework/target/
mocha-mobile-framework/target/
projects/cooperate/target/
projects/cooperate-core/target/
projects/crm/target/
projects/homepage/target/
projects/officeAdmin/target/
projects/insuranceBroker/target/
projects/cooperate-mobile/target/
projects/cooperate/cooperate.2013-06-22.log
projects/cooperate/cooperate_exceptions.2013-06-22.log
projects/cooperate/src/test/java/com/mocha/cooperate/service/test/crmModel.xml
projects/cooperate/src/test/java/com/mocha/cooperate/service/test/foundationModel.xml
projects/cooperate/createDDL.jdbc
