
<div class="fdw-pricing-table">
	<div class="plan plan1">
		<div class="header">Enterprise</div>
		<div class="price">$59</div>
		<div class="monthly">per month</div>
		<ul>
			<li><b>A</b> Type</li>
			<li><b>B</b> Type</li>
			<li><b>C</b> Type</li>
			<li><b>D</b> Type</li>
		</ul>
		<a class="signup" href="">Choose</a>
	</div>

	<div class="plan plan2 popular-plan">
		<div class="header">Professional</div>
		<div class="price">$29</div>
		<div class="monthly">per month</div>
		<ul>
			<li><b>A</b> Type</li>
			<li><b>B</b> Type</li>
			<li><b>C</b> Type</li>
			<li><b>D</b> Type</li>
		</ul>
		<a class="signup" href="">Choose</a>
	</div>
	<div class="plan plan3">
		<div class="header">Standard</div>
		<div class="price">$19</div>
		<div class="monthly">per month</div>
		<ul>
			<li><b>A</b> Type</li>
			<li><b>B</b> Type</li>
			<li><b>C</b> Type</li>
			<li><b>D</b> Type</li>
		</ul>
		<a class="signup" href="">Choose</a>
	</div>
	<div class="plan plan4">
		<div class="header">Basic</div>
		<div class="price">$9</div>
		<div class="monthly">per month</div>
		<ul>
			<li><b>A</b> Type</li>
			<li><b>B</b> Type</li>
			<li><b>C</b> Type</li>
			<li><b>D</b> Type</li>
		</ul>
		<a class="signup" href="">Choose</a>
	</div>
</div>