<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<context:spring-configured />
	<bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />
    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

	<bean id="SpringContextUtils" class="com.coral.foundation.spring.bean.SpringContextUtils"
		scope="singleton" />

	<bean id="messageSource"
	      class="org.springframework.context.support.ResourceBundleMessageSource">
	  <property name="basenames">
	    <list>
	      <value>message</value>
	    </list>
	  </property>
	</bean>

	<bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
	
	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="persistenceUnitName" value="entityManagerFactory" />
<!-- 		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml" /> -->
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan">
            <list>
                <value>com.coral.foundation.security.model</value>
                <value>com.mocha.cooperate.model</value>
                <value>com.mocha.ib.model</value>
                <value>com.mocha.co.model</value>
            </list>
        </property>
		<property name="jpaVendorAdapter">
			<bean
				class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
			</bean>
		</property>
		<property name="jpaProperties">
            <props>
           	 	<prop key="eclipselink.deploy-on-startup">true</prop>
                <!-- <prop key="eclipselink.ddl-generation">create-or-extend-tables</prop> -->
<!-- 				<prop key="eclipselink.ddl-generation">drop-and-create-tables</prop> -->
                <prop key="eclipselink.ddl-generation.output-mode">both</prop>
                <prop key="eclipselink.create-ddl-jdbc-file-name">createDDL.jdbc</prop>
                <prop key="eclipselink.logging.level">FINE</prop>
                <prop key="eclipselink.weaving">false</prop>
                <prop key="eclipselink.cache.shared.default">false</prop>
            </props>
        </property>
	</bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/cooperate?characterEncoding=utf8" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	
	<tx:annotation-driven mode="aspectj" transaction-manager="transactionManager" />

	<bean id="commonSearchDao" class="com.coral.foundation.jpa.search.CommonSearchDao"></bean>
	<bean id="pageFactory" class="com.mocha.cooperate.CooperateFactory"></bean>
	<bean id="homepage" class="com.mocha.cooperate.CooperateMainPage" scope="prototype"></bean>

	<import resource="classpath*:generatedDaoContext.xml" />
	<import resource="classpath*:ib-beans.xml" />
	<import resource="classpath*:co-beans.xml" />
<!-- 	<import resource="classpath*:crm-beans.xml" /> -->

<!-- 	<context:component-scan base-package="com.coral.foundation.security" /> -->
<!-- 	<context:component-scan base-package="com.mocha.oa.model" /> -->
     <tx:annotation-driven />
</beans>