<div style="font-size: 12px; font-family: Arial; color: #52555A">
Dear qujun<br/>
root post a new Todo notify you. The task list is:<br/>
<div style="font-size: 14px; font-family: Arial; color: #000000; font-weight: bold;word-wrap: break-word;word-break: normal;">
created an integration/unit test on Arquillian - root
</div>
<ul>
<li style="font-size: 12px; font-family: Arial; color: #000000;line-height: 20px;">
This brought up some really unique challenges - maqujun
</li>
<li style="font-size: 12px; font-family: Arial; color: #000000;line-height: 20px;">
 I had originally hoped to use ShrinkWrap or Tinybundles to dynamically create a persistence unit bundle in memory during test runtime. However, both solutions caused an entity's annotations to be stripped out when received by Hibernate ORM  - qujun
</li>
<li style="font-size: 12px; font-family: Arial; color: #000000;line-height: 20px;">
I eventually landed on having three separate source sets: test, testClientBundle, and testResult. The test set contains the actual Arquillian test case. The testClientBundle set contains the persistence unit and the actual "unit tests" - root
</li>
</ul>
<br/>
Please login in your Mocha account and check your notification <a href="www.mocha-platform.com/cooperate/">www.mocha-platform.com/cooperate</a><br/>
Best Regards,<br/>
Mocha Platform Team.<br/>
<br/>
<div style="font-size: 10px; color: #A4A4A4">
Please do not reply to this email. This mailbox is not monitored and you will not receive a response.
</div>
</div>